[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "scripts/fugu"]
	path = scripts/fugu
	url = https://github.com/nunocoracao/fugu.git
